*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/organiclife
src/organiclifed
src/organiclife-cli
src/organiclife-tx
src/organiclifed
src/organiclife-cli
src/organiclife-tx
src/qt/organiclife-qt
src/bench/bench_organiclife
src/test/test_organiclife
src/test/test_organiclife_fuzzy
src/qt/test/test_organiclife-qt
src/test/fuzz/address_deserialize
src/test/fuzz/addrman_deserialize
src/test/fuzz/banentry_deserialize
src/test/fuzz/block_deserialize
src/test/fuzz/blockheader_deserialize
src/test/fuzz/blocklocator_deserialize
src/test/fuzz/blockmerkleroot
src/test/fuzz/blockundo_deserialize
src/test/fuzz/bloomfilter_deserialize
src/test/fuzz/coins_deserialize
src/test/fuzz/diskblockindex_deserialize
src/test/fuzz/inv_deserialize
src/test/fuzz/messageheader_deserialize
src/test/fuzz/netaddr_deserialize
src/test/fuzz/service_deserialize
src/test/fuzz/transaction_deserialize
src/test/fuzz/txoutcompressor_deserialize
src/test/fuzz/txundo_deserialize
src/test/fuzz/transaction
src/test/fuzz/*deserialize


# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/pivx-config.h
src/config/pivx-config.h.in
src/config/stamp-h1
src/obj
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*~
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.organiclifecoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg
*.iso

*.json.h
*.raw.h
!src/invalid_outpoints.json.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
!depends/Makefile
organiclife-qt
PIVX-Qt.app
organiclife-qt
OrganicLife-Qt.app
background.tiff*

# Rust
.cargo/.configured-for-*
.cargo/config
target/
vendor/

# Unit-tests
Makefile.test
organiclife-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Local test data
testnet-data/

# Genesis mining helper binary (keep sources)
contrib/genesis/mine_genesis_quark

# Local brand/artwork scratch files
/CTEAMCoin.png
/logo1776.png
share/pixmaps/bitcoin*

# Autotools-generated RELIC template (chiabls)
src/chiabls/contrib/relic/include/relic_conf_autoconf.h.in


#lcov
*.gcno
/*.info
test_organiclife.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
cache/*
venv*/

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libbitcoinconsensus.pc
.idea
cmake-build-debug
*CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json

moc_*
*.tmp
ui_*
/build/
/build-*/
/dist/
/dist-from-wsl/
!/build-aux/
!/build-aux/**
/build-aux/.DS_Store
/build-aux/**/.DS_Store
/build-aux/compile
/build-aux/config.guess
/build-aux/config.guess~
/build-aux/config.sub
/build-aux/config.sub~
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/m4/libtool.m4
/build-aux/m4/ltoptions.m4
/build-aux/m4/ltsugar.m4
/build-aux/m4/ltversion.m4
/build-aux/m4/lt~obsolete.m4
/build-aux/missing
/build-aux/test-driver
/cov-int/

cppcheck.txt
to_backport.txt
.ci-cppcheck/
.mypy_cache/
*.old
/organiclife-windows-x86_64.zip
/organiclife-linux-x86_64.zip
/organiclife-macos-universal.zip
/organiclife-macos-universal-daemon.zip
/organiclife-macos-universal-daemon/bin/organiclife-cli
/organiclife-macos-universal-daemon/bin/organiclife-tx
/organiclife-macos-universal-daemon/bin/organiclifed
/organiclife-macos-universal-daemon/params/sapling-output.params
/organiclife-macos-universal-daemon/params/sapling-spend.params
/organiclife-macos-universal/OrganicLife.app/Contents/_CodeSignature/CodeResources
/organiclife-macos-universal/OrganicLife.app/Contents/MacOS/OrganicLife
/organiclife-macos-universal/OrganicLife.app/Contents/Resources/CTEAM.icns
/organiclife-macos-universal/OrganicLife.app/Contents/CodeResources
/organiclife-macos-universal/bin/organiclife-cli
/organiclife-macos-universal/bin/organiclife-tx
/organiclife-macos-universal/bin/organiclifed
/organiclife-macos-universal/params/sapling-output.params
/organiclife-macos-universal/params/sapling-spend.params
/OrganicLife-macos-universal-daemon.zip
/OrganicLife-macos-universal-daemon/
/OrganicLife-macos-universal-qt.zip
/OrganicLife-macos-universal-qt.dmg
/OrganicLife-macos-universal-qt/
