# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit organiclifed.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/organiclife/organiclifecoin.conf

[Unit]
Description=OrganicLife daemon
After=network.target

[Service]
ExecStart=/usr/bin/organiclifed -daemon -conf=/etc/organiclife/organiclifecoin.conf -pid=/run/organiclifed/organiclifed.pid
# Creates /run/organiclifed owned by organiclife
RuntimeDirectory=organiclifed
User=organiclife
Type=forking
PIDFile=/run/organiclifed/organiclifed.pid
Restart=on-failure

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
